---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4941'
      X-Ratelimit-Reset:
      - '1594179090'
      Etag:
      - W/"c6fbf52bc5f639f5c758b3e1c583061a"
      Last-Modified:
      - Tue, 07 Jul 2020 18:45:52 GMT
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"Shock253","id":28197446,"node_id":"MDQ6VXNlcjI4MTk3NDQ2","avatar_url":"https://avatars3.githubusercontent.com/u/28197446?v=4","gravatar_id":"","url":"https://api.github.com/users/Shock253","html_url":"https://github.com/Shock253","followers_url":"https://api.github.com/users/Shock253/followers","following_url":"https://api.github.com/users/Shock253/following{/other_user}","gists_url":"https://api.github.com/users/Shock253/gists{/gist_id}","starred_url":"https://api.github.com/users/Shock253/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Shock253/subscriptions","organizations_url":"https://api.github.com/users/Shock253/orgs","repos_url":"https://api.github.com/users/Shock253/repos","events_url":"https://api.github.com/users/Shock253/events{/privacy}","received_events_url":"https://api.github.com/users/Shock253/received_events","type":"User","site_admin":false,"name":"Ethan
        Hocking","company":null,"blog":"","location":null,"email":"eshocking253@gmail.com","hireable":null,"bio":"I''m
        a full stack software engineer with experience in ruby, SQL, python and C#.
        Hello!","twitter_username":null,"public_repos":44,"public_gists":13,"followers":3,"following":1,"created_at":"2017-04-29T16:29:18Z","updated_at":"2020-07-07T18:45:52Z","private_gists":11,"total_private_repos":0,"owned_private_repos":0,"disk_usage":1621,"collaborators":0,"two_factor_authentication":false,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":10000}}'
  recorded_at: Wed, 08 Jul 2020 02:48:30 GMT
recorded_with: VCR 6.0.0
