---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4942'
      X-Ratelimit-Reset:
      - '1594179090'
      Etag:
      - W/"1f5f7b9b5d6f145622ae339f6648e2e3"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"alex-latham","id":56228986,"node_id":"MDQ6VXNlcjU2MjI4OTg2","avatar_url":"https://avatars3.githubusercontent.com/u/56228986?v=4","gravatar_id":"","url":"https://api.github.com/users/alex-latham","html_url":"https://github.com/alex-latham","followers_url":"https://api.github.com/users/alex-latham/followers","following_url":"https://api.github.com/users/alex-latham/following{/other_user}","gists_url":"https://api.github.com/users/alex-latham/gists{/gist_id}","starred_url":"https://api.github.com/users/alex-latham/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alex-latham/subscriptions","organizations_url":"https://api.github.com/users/alex-latham/orgs","repos_url":"https://api.github.com/users/alex-latham/repos","events_url":"https://api.github.com/users/alex-latham/events{/privacy}","received_events_url":"https://api.github.com/users/alex-latham/received_events","type":"User","site_admin":false},{"login":"DavidTTran","id":57076945,"node_id":"MDQ6VXNlcjU3MDc2OTQ1","avatar_url":"https://avatars0.githubusercontent.com/u/57076945?v=4","gravatar_id":"","url":"https://api.github.com/users/DavidTTran","html_url":"https://github.com/DavidTTran","followers_url":"https://api.github.com/users/DavidTTran/followers","following_url":"https://api.github.com/users/DavidTTran/following{/other_user}","gists_url":"https://api.github.com/users/DavidTTran/gists{/gist_id}","starred_url":"https://api.g[...]
