---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN1>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4934'
      X-Ratelimit-Reset:
      - '1594179091'
      Etag:
      - W/"1f5f7b9b5d6f145622ae339f6648e2e3"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"alex-latham","id":56228986,"node_id":"MDQ6VXNlcjU2MjI4OTg2","avatar_url":"https://avatars3.githubusercontent.com/u/56228986?v=4","gravatar_id":"","url":"https://api.github.com/users/alex-latham","html_url":"https://github.com/alex-latham","followers_url":"https://api.github.com/users/alex-latham/followers","following_url":"https://api.github.com/users/alex-latham/following{/other_user}","gists_url":"https://api.github.com/users/alex-latham/gists{/gist_id}","starred_url":"https://api.github.com/users/alex-latham/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alex-latham/subscriptions","organizations_url":"https://api.github.com/users/alex-latham/orgs","repos_url":"https://api.github.com/users/alex-latham/repos","events_url":"https://api.github.com/users/alex-latham/events{/privacy}","received_events_url":"https://api.github.com/users/alex-latham/received_events","type":"User","site_admin":false},{"login":"DavidTTran","id":57076945,"node_id":"MDQ6VXNlcjU3MDc2OTQ1","avatar_url":"https://avatars0.githubusercontent.com/u/57076945?v=4","gravatar_id":"","url":"https://api.github.com/users/DavidTTran","html_url":"https://github.com/DavidTTran","followers_url":"https://api.github.com/users/DavidTTran/followers","following_url":"https://api.github.com/users/DavidTTran/following{/other_user}","gists_url":"https://api.github.com/users/DavidTTran/gists{/gist_id}","starred_url":"https://api.g[...]
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN1>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4933'
      X-Ratelimit-Reset:
      - '1594179090'
      Etag:
      - [...]
- request:
    method: get
    uri: https://api.github.com/user/repos?direction=desc&sort=created
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN1>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4932'
      X-Ratelimit-Reset:
      - '1594179091'
      Etag:
      - W/"6b8a502cb0849f167b42e748f996242d"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?direction=desc&sort=created&page=2>; rel="next",
        <https://api.github.com/user/repos?direction=desc&sort=created&page=2>; rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":276702409,"node_id":"MDEwOlJlcG9zaXRvcnkyNzY3MDI0MDk=","name":"house-salad","full_name":"Shock253/house-salad","private":false,"owner":{"login":"Shock253","id":28197446,"node_id":"MDQ6VXNlcjI4MTk3NDQ2","avatar_url":"https://avatars3.githubusercontent.com/u/28197446?v=4","gravatar_id":"","url":"https://api.github.com/users/Shock253","html_url":"https://github.com/Shock253","followers_url":"https://api.github.com/users/Shock253/followers","following_url":"https://api.github.com/users/Shock253/following{/other_user}","gists_url":"https://api.github.com/users/Shock253/gists{/gist_id}","starred_url":"https://api.github.com/users/Shock253/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Shock253/subscriptions","organizations_url":"https://api.github.com/users/Shock253/orgs","repos_url":"https://api.github.com/users/Shock253/repos","events_url":"https://api.github.com/users/Shock253/events{/privacy}","received_events_url":"https://api.github.com/users/Shock253/received_events","type":"User","site_admin":false},"html_url":"https://github.com/Shock253/house-salad","description":"Backend
        Mod 3 Repo used in consuming APIs lesson","fork":true,"url":"https://api.github.com/repos/Shock253/house-salad","forks_url":"https://api.github.com/repos/Shock253/house-salad/forks","keys_url":"https://api.github.com/repos/Shock253/house-salad/keys{/key_id}","collaborators_url":"https://api.github.com/repos/Shock253/house-salad/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/Shock253/house-salad/teams","hooks_url":"https://api.github.com/repos/Shock253/house-salad/hooks","issue_events_url":"https://api.github.com/repos/Shock253/house-salad/issues/events{/number}","events_url":"https://api.github.com/repos/Shock253/house-salad/events","assignees_url":"https://api.github.com/repos/Shock253/house-salad/assignees{/user}","branches_url":"https://api.github.com/repos/Shock253/house-salad/branches{/branch}","tags_url":"https://api.github.com/repos/Shock253/house-salad/tags","blobs_url":"https://api.github.com/repos/Shock253/house-salad/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/Shock253/house-salad/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/Shock253/house-salad/git/refs{/sha}","trees_url":"https://api.github.com/repos/Shock253/house-salad/git/trees{/sha}","statuses_url":"https://api.github.com/repos/Shock253/house-salad/statuses/{sha}","languages_url":"https://api.github.com/repos/Shock253/house-salad/languages","stargazers_url":"https://api.github.com/repos/Shock253/house-salad/stargazers","contributors_url":"https://api.github.com/repos/Shock253/house-salad/contributors","subscribers_url":"https://api.github.com/repos/Shock253/house-salad/subscribers","subscription_url":"https://api.github.com/repos/Shock253/house-salad/subscription","commits_url":"https://api.github.com/repos/Shock253/house-salad/commits{/sha}","git_commits_url":"https://api.github.com/repos/Shock253/house-salad/git/commits{/sha}","comments_url":"https://api.github.com/repos/Shock253/house-salad/comments{/number}","issue_comment_url":"https://api.github.com/repos/Shock253/house-salad/issues/comments{/number}","contents_url":"https://api.github.com/repos/Shock253/house-salad/contents/{+path}","compare_url":"https://api.github.com/repos/Shock253/house-salad/compare/{base}...{head}","merges_url":"https://api.github.com/repos/Shock253/house-salad/merges","archive_url":"https://api.github.com/repos/Shock253/house-salad/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/Shock253/house-salad/downloads","issues_url":"https://api.github.com/repos/Shock253/house-salad/issues{/number}","pulls_url":"https://api.github.com/repos/Shock253/house-salad/pulls{/number}","milestones_url":"https://api.github.com/repos/Shock253/house-salad/milestones{/number}","notifications_url":"https://api.github.com/repos/Shock253/house-salad/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/Shock253/house-salad/labels{/name}","releases_url":"https://api.github.com/repos/Shock253/house-salad/releases{/id}","deployments_url":"https://api.github.com/repos/Shock253/house-salad/deployments","created_at":"2020-07-02T17:02:33Z","updated_at":"2020-07-02T17:44:58Z","pushed_at":"2020-07-02T17:44:56Z","git_url":"git://github.com/Shock253/house-salad.git","ssh_url":"git@github.com:Shock253/house-salad.git","clone_url":"https://github.com/Shock253/house-salad.git","svn_url":"https://github.com/Shock253/house-salad","homepage":null,"size":54,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":true,"push":true,"pull":true}},{"id":275940530,"node_id":"MDEwOlJlcG9zaXRvcnkyNzU5NDA1MzA=","name":"brownfield-of-dreams","full_name":"dborski/brownfield-of-dreams","private":false,"owner":{"login":"dborski","id":60106123,"node_id":"MDQ6VXNlcjYwMTA2MTIz","avatar_url":"https://avatars2.githubusercontent.com/u/60106123?v=4","gravatar_id":"","url":"https://api.github.com/users/dborski","html_url":"https://github.com/dborski","followers_url":"https://api.github.com/users/dborski/followers","following_url":"https://api.gith[...]
- request:
    method: get
    uri: https://api.github.com/users/stellakunzang
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN1>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4931'
      X-Ratelimit-Reset:
      - '1594179090'
      Etag:
      - W/"c3aba58801d27e7d0c499136662cfb30"
      Last-Modified:
      - Tue, 07 Jul 2020 16:27:30 GMT
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"stellakunzang","id":55362003,"node_id":"MDQ6VXNlcjU1MzYyMDAz","avatar_url":"https://avatars2.githubusercontent.com/u/55362003?v=4","gravatar_id":"","url":"https://api.github.com/users/stellakunzang","html_url":"https://github.com/stellakunzang","followers_url":"https://api.github.com/users/stellakunzang/followers","following_url":"https://api.github.com/users/stellakunzang/following{/other_user}","gists_url":"https://api.github.com/users/stellakunzang/gists{/gist_id}","starred_url":"https://api.github.com/users/stellakunzang/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/stellakunzang/subscriptions","organizations_url":"https://api.github.com/users/stellakunzang/orgs","repos_url":"https://api.github.com/users/stellakunzang/repos","events_url":"https://api.github.com/users/stellakunzang/events{/privacy}","received_events_url":"https://api.github.com/users/stellakunzang/received_events","type":"User","site_admin":false,"name":"Stella
        ","company":null,"blog":"https://www.linkedin.com/in/stella-bonnie/","location":"Denver,
        CO","email":"stella.k.bonnie@gmail.com","hireable":true,"bio":"Back-End Software
        Engineering student at Turing School of Software and Design ","twitter_username":null,"public_repos":58,"public_gists":10,"followers":13,"following":27,"created_at":"2019-09-15T19:26:56Z","updated_at":"2020-07-07T16:27:30Z"}'
  recorded_at: Wed, 08 Jul 2020 03:17:10 GMT
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN1>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4930'
      X-Ratelimit-Reset:
      - '1594179090'
      Etag:
      - W/"c6fbf52[...]
[...]
