---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/dborski
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN1>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1594181180'
      Etag:
      - W/"62dce363bb039a94b6a4eb7573dbc4a5"
      Last-Modified:
      - Tue, 07 Jul 2020 23:23:04 GMT
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<GITHUB_KEY>"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"dborski","id":60106123,"node_id":"MDQ6VXNlcjYwMTA2MTIz","avatar_url":"https://avatars2.githubusercontent.com/u/60106123?v=4","gravatar_id":"","url":"https://api.github.com/users/dborski","html_url":"https://github.com/dborski","followers_url":"https://api.github.com/users/dborski/followers","following_url":"https://api.github.com/users/dborski/following{/other_user}","gists_url":"https://api.github.com/users/dborski/gists{/gist_id}","starred_url":"https://api.github.com/users/dborski/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dborski/subscriptions","organizations_url":"https://api.github.com/users/dborski/orgs","repos_url":"https://api.github.com/users/dborski/repos","events_url":"https://api.github.com/users/dborski/events{/privacy}","received_events_url":"https://api.github.com/users/dborski/received_events","type":"User","site_admin":false,"name":"Derek
        Borski","company":"Turing School of Software & Design","blog":"https://alumni.turing.io/alumni/derek-borski","location":"Denver,
        CO","email":"derek.borski@gmail.com","hireable":true,"bio":null,"twitter_username":null,"public_repos":58,"public_gists":1,"followers":4,"following":7,"created_at":"2020-01-20T15:37:26Z","updated_at":"2020-07-07T23:23:04Z","private_gists":21,"total_private_repos":1,"owned_private_repos":1,"disk_usage":155,"collaborators":0,"two_factor_authentication":false,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":10000}}'
  recorded_at: Wed, 08 Jul 2020 03:06:20 GMT
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN1>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1594181180'
      Etag:
      - W/"62dce36[...]
